@font-face {
  font-family: Poppins;
  font-weight: 200;
  src: url("./assets/fonts/Poppins-ExtraLight.ttf");
}

@font-face {
  font-family: Poppins;
  font-weight: 400;
  src: url("./assets/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins;
  font-weight: 600;
  src: url("./assets/fonts/Poppins-SemiBold.ttf");
}

:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --transparent-grayish-blue: hsl(229, 6%, 66%, 50%);
  --very-light-gray: hsl(0, 0%, 98%);
  --extra-light: 200;
  --regular: 400;
  --semibold: 600;
}

html {
  font-size: 15px;
}

body {
  display: grid;
  place-items: center;
  font-family: Poppins;
  font-weight: var(--regular);
  font-size: 15px;
  background-color: var(--very-light-gray);
}

main {
  display: grid;
  row-gap: 4rem;
  padding: 2rem;
}

.header-container {
  display: grid;
  place-items: center;
}

h2 {
  font-weight: var(--regular);
  color: var(--grayish-blue);
}

h1 {
  font-size: 1.5rem;
}

p {
  margin-top: 1rem;
  color: var(--grayish-blue);
  text-align: center;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  row-gap: 1.5rem;
}

.card {
  display: grid;
  row-gap: .3rem;
  padding: 1.5rem;
  font-weight: var(--extra-light);
  border-radius: .5rem;

  h3 {
    font-weight: var(--semibold);
  }

  p {
    color: var(--grayish-blue);
    font-size: .8rem;
    font-weight: var(--semibold);
    text-align: inherit;
  }

  img {
    justify-self: end;
  }
}

.cyan {
  box-shadow:
    0 -8px 0 -5px var(--cyan),
    0 1px 20px var(--transparent-grayish-blue);
}

.red {
  box-shadow:
    0 -8px 0 -5px var(--red),
    0 1px 20px var(--transparent-grayish-blue);
}

.orange {
  box-shadow:
    0 -8px 0 -5px var(--orange),
    0 1px 20px var(--transparent-grayish-blue);
}

.blue {
  box-shadow:
    0 -8px 0 -5px var(--blue),
    0 1px 20px var(--transparent-grayish-blue);
}
